$buttonBackgroundColor: #605dc7;
$buttonHoverColor: #6865da;
$buttonActiveColor: #5250ab;
$buttonTextColor: white;
$buttonDisableColor: #f5f5f5;
$buttonDisableTextColor: #c2c2c2;

.button__wrapper {
  font-size: 16px;
  text-align: center;
  color: $buttonTextColor;
  padding: 12px 40px;
  border-radius: 5px;
  background-color: $buttonBackgroundColor;
  border: 0;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;

  &:hover,
  &:focus {
    background-color: $buttonHoverColor;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $buttonActiveColor;
    transition: background-color 0.3s;
  }

  &:disabled {
    background-color: $buttonDisableColor;
    color: $buttonDisableTextColor;
    cursor: not-allowed;
  }
}
